@import url('https://fonts.googleapis.com/css?family=Poppins|Raleway');
/*List of all the colors that will be used across the site */
:root {
  --1st-bg-color:#d33131;
  --2nd-bg-color:#aa2323;
  --3rd-bg-color:#faf46a;
  --4th-bg-color:#3A6A96;
  --5th-bg-color:rgba(35, 48, 60, 0.76);
  --1st-text-color:#ececec;
  --2nd-text-color:#7bacdd;
}

/*Define header style like background, alignment etc.*/
header {
  background-color: var(--1st-bg-color);
  color: var(--1st-text-color);
  justify-content: center;
  text-align: center;
  padding: 1pt;
}

/*Defines Top Nav background and text properties*/
nav {
  background-color: var(--2nd-bg-color);
  color: var(--1st-text-color);
  justify-content: center;
  display: flex;
}

nav a{
  text-decoration: none;
  padding: 5px 20px;
  text-align: center;
  color: var(--2nd-color);
}

nav a:hover {
  background-color: var(--1st-text-color);
  color: var(--1st-bg-color);
  transform: scale(1.1);
}

.active {
  background-color: var(--1st-bg-color);
}

body {
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin: 0;
}

.left-box {
  float: left;
  text-align: center;
  border-radius: 20px;
  width: 60%;
  height: 400px;
  margin: 50px auto;
  background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
}

.right-box {
  float: right;
  text-align: center;
  border-radius: 20px;
  width: 40%;
  height: 400px;
  margin: 50px auto;
  background: linear-gradient(55deg, #FFCCFF, #CCFFCC);
}

footer {
  background-color: var(--1st-bg-color);
  color: var(--1st-text-color);
  padding: 5px;
  display: flex;
  direction: row;
}

.copyright {
  float:left;
  width: 50%;
  position: relative;
  left: 10%;
}

.social {
  float:right;
  width: 50%;
  position: relative;
  left: 40%;
  transform: scale(1.5);
  padding-top: 18px;
}

.social-icons {
  color: var(--1st-text-color);
  padding: 5px;
}

.social-icons:hover {
  color: var(--2nd-text-color);
  transform: scale(1.1);
}
